<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<script>  
    
window.addEventListener("load", function(evt) {

    var output = document.getElementById("output");
    var input = document.getElementById("input");
    var ws;
    var msgLimit  = 10;
    var msgCounter = 0;

    if (ws) {
        return false;
    }
    ws = new WebSocket("{{.}}");
    ws.onopen = function(evt) {
        print("UDP Streams will be displayed here:");
    }
    ws.onclose = function(evt) {
        ws = null;
    }
    ws.onmessage = function(evt) {
        print("UDP Message>: " + evt.data);
    }
    ws.onerror = function(evt) {
        print("ERROR: " + evt.data);
    }

    var print = function(message) {
        
        var d = document.createElement("div");
        d.innerHTML = message;

        if (msgCounter < msgLimit) {
            output.appendChild(d);
            msgCounter+=1;
        } else {
            msgCounter = 0;
            while (output.firstChild) {
                output.removeChild(output.firstChild);
            }
            output.appendChild(d);
        }
    };
});

window.addEventListener("close", function(evt) {
    if (!ws) {
        return false;
    }
    ws.close();
    return false;
});

</script>
</head>
<body>

<div id="output"></div>

</body>
</html>